In [30]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [31]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [126]:
res = titles["title"].count()
print("No.of movies listed in the titles dataframe",res)

No.of movies listed in the titles dataframe 244914

### What are the earliest two films listed in the titles dataframe?

In [133]:
res  = titles.nsmallest(2,['year'])
res = res['title']
print("Earliest two films listed in the data frame are:")
res

Earliest two films listed in the data frame are:

193222            Miss Jerry
51388     The Startled Lover
Name: title, dtype: object

### How many movies have the title "Hamlet"?

In [152]:
df = titles.set_index('title')
df = df.loc['Hamlet'].count()
print("No.of movies having the title Hamlet")
df

No.of movies having the title Hamlet

year    20
dtype: int64

### How many movies are titled "North by Northwest"?

In [136]:
df = titles.set_index('title')
print("No.of movies having the title North by Northwest")
df.loc['North by Northwest'].count()

No.of movies having the title North by Northwest

1

### When was the first movie titled "Hamlet" made?

In [36]:
df = titles.set_index('title')
df = df.loc['Hamlet']
df.nsmallest(1,['year'])

        year
title
Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [37]:
df = titles.set_index('title')
df = df.loc['Treasure Island']
df.sort_values(by=['year'], inplace=True)
print(df)

                 year
title
Treasure Island  1918
Treasure Island  1920
Treasure Island  1934
Treasure Island  1950
Treasure Island  1972
Treasure Island  1973
Treasure Island  1985
Treasure Island  1999

### How many movies were made in the year 1950?

In [38]:
df = titles.set_index('year')
df.loc[1950].count()

title    1113
dtype: int64

### How many movies were made in the year 1960?

In [39]:
df = titles.set_index('year')
df.loc[1960].count()

title    1549
dtype: int64

### How many movies were made from 1950 through 1959?

In [40]:
li = [1950,1951,1952,1953,1954,1955,1956,1957,1958,1959]
df = titles.set_index('year')
count = 0
for i in li:
    count += df.loc[i].count()
print(count)

title    12934
dtype: int64

### In what years has a movie titled "Batman" been released?

In [41]:
df = titles.set_index('title')
df = df.loc['Batman']
res = df.set_index('year')
res

Empty DataFrame
Columns: []
Index: [1943, 1989]

### How many roles were there in the movie "Inception"?

In [42]:
cast = pd.read_csv('cast.csv')

In [61]:
res = cast[cast['title'] == 'Inception']
res = len(res['character'].unique()) 
res

56

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [156]:
df = cast.set_index("title")
df = df.loc["Inception"]
df['n'].isnull().sum()

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [46]:
df['n'].count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [47]:
df = cast.set_index('title').loc['North by Northwest']
df.dropna(subset = ["n"], inplace=True)
df = df.sort_values(by ='n' , ascending=False)
df

,year,name,type,character,n
title,,,,,
North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0
North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
North by Northwest,1959,Adam Williams,actor,Valerian,9.0
North by Northwest,1959,Martin Landau,actor,Leonard,8.0
North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [48]:
df = cast.set_index('title').loc['Sleuth']
df = df.set_index('year').loc[1972].sort_values(by ='n' , ascending=False)
df

                    name     type                   character    n
year
1972        Teddy Martin    actor      Police Constable Higgs  6.0
1972  Eve (III) Channing  actress             Marguerite Wyke  5.0
1972  John (II) Matthews    actor  Detective Sergeant Tarrant  4.0
1972      Alec Cawthorne    actor           Inspector Doppler  3.0
1972       Michael Caine    actor                 Milo Tindle  2.0
1972    Laurence Olivier    actor                 Andrew Wyke  1.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [49]:
df = cast.set_index('title').loc['Sleuth']
df = df.set_index('year').loc[2007].sort_values(by ='n' , ascending=False)
df

                     name     type          character    n
year
2007        Harold Pinter    actor        Man on T.V.  3.0
2007             Jude Law    actor               Milo  2.0
2007        Michael Caine    actor             Andrew  1.0
2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [118]:
df = cast.set_index('title').loc['Hamlet'].set_index('year').loc[1921]
df['character'].count()

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [122]:
df = cast.set_index('title').loc['Hamlet'].set_index("year").loc[1996]
df = df[df['name'] == 'Kenneth Branagh'].sort_values('character').shape[0]
df

1

### How many "Hamlet" roles have been listed in all film credits through history?

In [125]:
df = cast.set_index('character').loc["Hamlet"]
df["title"].count()

96

### How many people have played an "Ophelia"?

In [54]:
df = cast.set_index('character').loc['Ophelia'].count()
df['name']

117

### How many people have played a role called "The Dude"?

In [55]:
df = cast.set_index('character').loc['The Dude'].count()
df['name']

19

### How many people have played a role called "The Stranger"?

In [56]:
df = cast.set_index('character').loc['The Stranger'].count()
df['name']

212

### How many roles has Sidney Poitier played throughout his career?

In [58]:
df = cast.set_index('name').loc['Sidney Poitier'].count()
df['character']

43

### How many roles has Judi Dench played?

In [59]:
df = cast.set_index('name').loc['Judi Dench'].count()
df['character']

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [94]:
df = cast.set_index("name").loc["Cary Grant"]
df = df.set_index("n").loc[2]
res = df.sort_values(by = "year" , ascending = True)
res[(res['year']>1939) & (res['year']<1950)]

                title  year   type    character
n
2.0  My Favorite Wife  1940  actor   Nick Arden
2.0    Penny Serenade  1941  actor  Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [95]:
df = cast.set_index("name").loc["Cary Grant"]
df = df.set_index("n").loc[1]
res = df.sort_values(by = "year" , ascending = True)
res[(res['year']>1939) & (res['year']<1950)]

,title,year,type,character
n,,,,
1.0,The Howards of Virginia,1940,actor,Matt Howard
1.0,His Girl Friday,1940,actor,Walter Burns
1.0,The Philadelphia Story,1940,actor,C. K. Dexter Haven
1.0,Suspicion,1941,actor,Johnnie Aysgarth
1.0,Once Upon a Honeymoon,1942,actor,Patrick 'Pat' O'Toole
1.0,The Talk of the Town,1942,actor,Leopold Dilg
1.0,Destination Tokyo,1943,actor,Capt. Cassidy
1.0,Mr. Lucky,1943,actor,Joe Adams -posing as Joe Bascopolous
1.0,Once Upon a Time,1944,actor,Jerry Flynn
1.0,None But the Lonely Heart,1944,actor,Ernie Mott
1.0,Arsenic and Old Lace,1944,actor,Mortimer Brewster
1.0,Notorious,1946,actor,Devlin
1.0,Night and Day,1946,actor,Cole Porter
1.0,The Bishop's Wife,1947,actor,Dudley
1.0,The Bachelor and the Bobby-Soxer,1947,actor,Dick Nugent
1.0,Every Girl Should Be Married,1948,actor,Dr. Madison Brown
1.0,Mr. Blandings Builds His Dream House,1948,actor,Jim Blandings
1.0,I Was a Male War Bride,1949,actor,Captain Henri Rochard

### How many roles were available for actors in the 1950s?

In [96]:
df = cast.set_index('type').loc['actor']
df = df[(df['year'] >= 1950) & (df['year'] < 1960)]
res = df['n'].value_counts()
res

1.0      6692
5.0      5674
4.0      5663
3.0      5654
6.0      5591
7.0      5532
8.0      5302
9.0      4906
2.0      4640
10.0     4466
11.0     3949
12.0     3499
13.0     2967
14.0     2553
15.0     2212
16.0     1836
17.0     1528
18.0     1313
19.0     1061
20.0      914
21.0      770
22.0      658
23.0      559
24.0      440
25.0      416
26.0      357
27.0      298
28.0      245
29.0      224
30.0      197
         ...
119.0       1
113.0       1
131.0       1
135.0       1
105.0       1
130.0       1
129.0       1
107.0       1
127.0       1
115.0       1
137.0       1
109.0       1
110.0       1
134.0       1
121.0       1
106.0       1
120.0       1
140.0       1
124.0       1
117.0       1
139.0       1
123.0       1
104.0       1
112.0       1
118.0       1
111.0       1
125.0       1
138.0       1
126.0       1
136.0       1
Name: n, Length: 151, dtype: int64

### How many roles were available for actresses in the 1950s?

In [97]:
df = cast.set_index('type').loc['actress']
df = df[(df['year'] >= 1950) & (df['year'] < 1960)]
res = df['n'].value_counts()
res

2.0      4635
3.0      3201
1.0      3040
4.0      2881
5.0      2592
6.0      2384
7.0      2069
8.0      1853
9.0      1680
10.0     1523
11.0     1377
12.0     1187
13.0     1005
14.0      880
15.0      730
16.0      646
17.0      575
18.0      475
19.0      412
20.0      337
21.0      278
22.0      247
23.0      220
24.0      214
25.0      149
27.0      127
26.0      125
28.0      106
30.0       91
29.0       82
         ...
160.0       1
91.0        1
96.0        1
157.0       1
73.0        1
92.0        1
161.0       1
158.0       1
88.0        1
159.0       1
79.0        1
68.0        1
94.0        1
155.0       1
95.0        1
162.0       1
76.0        1
86.0        1
84.0        1
89.0        1
75.0        1
87.0        1
153.0       1
74.0        1
156.0       1
154.0       1
163.0       1
90.0        1
83.0        1
85.0        1
Name: n, Length: 109, dtype: int64

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [98]:
df = cast.set_index('n').loc[1]
mini = df['year'].min()
leading = len(df[(df['year'] >= mini) & (df['year'] <= 1980)])
print(leading)

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [99]:
df = cast.set_index('n')
mini = df['year'].min()
res = len(df[(df['year'] >= mini) & (df['year'] <= 1980)])
res -= leading
res

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [151]:
df = cast[cast['n'].isnull()]
df = df.set_index('year').loc[1980]
len(df)

4466