In [4]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

In [5]:
dataset = pd.read_excel('general_data.xlsx')

# __ChiSquare test__

H0 = There is no significant difference between attrition and gender.



H1 = There is significant difference between attrition and gender.

In [6]:
d = {'No': 0, 'Yes': 1}
dataset["Attrition"] = dataset['Attrition'].map(d).fillna(dataset['Attrition'])

In [7]:
d = {'Male': 0, 'Female': 1}
dataset["Gender"] = dataset['Gender'].map(d).fillna(dataset['Gender'])

In [8]:
chitable = pd.crosstab(dataset.Attrition,dataset.Gender)
print(chitable)

Gender        0     1
Attrition
0          2205  1494
1           441   270

In [9]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

1.349904410246582 0.24529482862926827

In [10]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Accept H0

So from the above hypothesis we can conclude that there is no relation bwtween gender and Attrition

# __kruskalwallies Test__

In [11]:
from scipy.stats import kruskal

H0 = There is no significance difference between matrialstatus_single.distanceFromHome, maritalstatus_married.distancefromhome and maritalstatus_divorced.distance from home.


H1 = There is significance difference between matrialstatus_single.distanceFromHome, maritalstatus_married.distancefromhome and maritalstatus_divorced.distance from home.

In [68]:
d = {'Married':0, 'Single': 1, 'Divorced': 2}
dataset["MaritalStatus"] = dataset['MaritalStatus'].map(d).fillna(dataset['MaritalStatus'])

In [69]:
dataset1 = dataset[dataset["MaritalStatus"] == 0]
dataset2 = dataset[dataset["MaritalStatus"] == 1]
dataset3 = dataset[dataset["MaritalStatus"] == 2]

In [70]:
stats,p = kruskal(dataset1.DistanceFromHome,dataset2.DistanceFromHome,dataset3.DistanceFromHome)
print(stats,p)

9.467930759090601 0.008791540035126109

In [71]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

So from the above we can conclude that there is significance difference between matrialstatus_single.distanceFromHome, maritalstatus_married.distancefromhome and maritalstatus_divorced.distance from home.

# __Mannwhitney Test__

In [14]:
from scipy.stats import mannwhitneyu

H0 = There is no significant difference between Attrition_yes.Age and Attrition_No.Age


H1 = There is significant difference between Attrition_yes.Age and Attrition_No.Age

In [72]:
dataset1 = dataset[dataset["Attrition"] == 0]
dataset2 = dataset[dataset["Attrition"] == 1]

In [73]:
stats,p = mannwhitneyu(dataset1.Age,dataset2.Age)
print(stats,p)

961731.0 2.9951588479067175e-30

In [74]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

So from the above test we can conclude that There is significant difference between Attrition_yes.Age and Attrition_No.Age.

# __Friedman Test__

In [17]:
from scipy.stats import friedmanchisquare

H0 = There is no significant difference between MonthlyIncome, IncomeAfter6Months, and IncomeAfterAyear


H1 = There is significant difference between MonthlyIncome, IncomeAfter6Months, and IncomeAfterAyear

In [23]:
dataset1 = pd.read_excel("general_data.xlsx")
dataset1 = dataset1.head(5)

In [24]:
dataset1

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,IncomeAfter6Months,IncomeAfterAyear
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,11,8,0,1.0,6,1,0,0,132569.0,145890.0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,23,8,1,6.0,3,5,1,4,23569.0,69320.0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,15,8,3,5.0,2,5,0,3,214583.0,206983.0
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,11,8,3,13.0,5,8,7,5,81458.0,82000.0
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,12,8,2,9.0,2,6,0,4,56893.0,57000.0

In [62]:
stats,p = friedmanchisquare(dataset1.MonthlyIncome,dataset1.IncomeAfter6Months,dataset1.IncomeAfterAyear)
print(stats,p)

13.27272727272728 0.0013117887221641214

In [63]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

so from the above test we can conclude that there is no significance difference between MonthlyIncome, IncomeAfter6Months, and IncomeAfterAyear

# __Wilcoxon Test__

In [30]:
from scipy.stats import wilcoxon

H0 = There is no significant difference between MonthlyIncome, and IncomeAfter6Months


H1 = There is significant difference between MonthlyIncome, and IncomeAfter6Months

In [33]:
dataset1 = pd.read_excel("general_data.xlsx")
dataset1 = dataset1.head(11)

In [34]:
stats,p = wilcoxon(dataset1.MonthlyIncome,dataset1.IncomeAfter6Months)
print(stats,p)

17.0 0.15485982528200376

In [35]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Accept H0

So from the above test we can conclude that there is no significance difference between MonthlyIncome, and IncomeAfter6Months

# __Single T-Test__

In [36]:
from scipy.stats import ttest_1samp

H0 = There is no significant diferrence of the mean of employee MonthlyIncome and Population mean = 75000


H1 = There is significant diferrence of the mean of employee MonthlyIncome and Population mean = 75000

In [39]:
stats,p = ttest_1samp(dataset.MonthlyIncome,75000)
print(stats,p)

-14.067289904708947 5.327366310899997e-44

In [40]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

So from the above test we can conclude that there is significant diferrence of the mean of employee MonthlyIncome and Population mean = 75000

# __Two sample paired test__

In [42]:
from scipy.stats import ttest_rel

H0 = There is no significant difference between the mean of MonthlyIncome and mean of IncomeAfter6Months


H1 = There is a significant difference between the mean of MonthlyIncome and mean of IncomeAfter6Months

In [52]:
dataset1 = pd.read_excel("general_data.xlsx")
dataset1 = dataset1.head(11)

In [50]:
stats,p = ttest_rel(dataset1.MonthlyIncome,dataset1.IncomeAfter6Months)
print(stats,p)

0.42642256591131483 0.6788336468387476

In [51]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Accept H0

So from the above test we can conclue that there is a significant difference between the mean of MonthlyIncome and mean of IncomeAfter6Months

# __Two Sample Independent T-Test__

In [57]:
dataset2 = dataset[dataset["Attrition"] == 0]

In [59]:
dataset3 = dataset[dataset["Attrition"] == 1]

H0 = There is no significant difference in the mean of Age between People having attrition and No attrition.


H1 = There is significant difference in the mean of Age between People having attrition and No attrition.

In [65]:
from scipy.stats import ttest_ind

In [66]:
stats,p = ttest_ind(dataset2.Age,dataset3.Age)
print(stats,p)

10.70661860061757 1.9968016158894556e-26

In [67]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

So from the above test we can conclude that there is significant difference in the mean of Age between People having attrition and No attrition.